* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;

  font-size: 24px;
  background: #191a32;
  color: #e2eaf4;
}
a {
  color: inherit;
  text-transform: none;
}
