*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat',
  sans-serif;
  font-size: 24px;
  background: #2c3e50;
  color: #000;
}
h2{
  margin: 10px 5px;
}
h4{
  font-weight: normal;
  font-size: 1em;
  margin: 5px 0;
}
hr{
  max-width: 500px;
  height: 2px;
  margin: 20px 0;
  background: black;
  border: none;
}
.Result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.timestamp{
  margin: 2.5px 5px;
}
a{
  color: #000;
  text-transform: none;
  transition: color .6s ease-out;
}
a:hover{
  color: #ecf0f1;
}