*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat',
  sans-serif;
  font-size: 24px;
  background: #2c3e50;
  color: #000;
}
.App{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
h2{
  margin: 10px 5px;
}
footer{
  width: 100%;
  padding: 10px 0;
  background: #34495e;
  text-align: center;
  font-size: .8em;
}
.Values{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
select{
  font-family: 'Montserrat',
  sans-serif;
  font-size: .8em;
  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 2px 5px;
}
select option{
  text-align: center;
}
h4{
  font-weight: normal;
  font-size: 1em;
  margin: 5px 0;
}
hr{
  max-width: 500px;
  height: 2px;
  margin: 20px 0;
  background: black;
  border: none;
}
.Result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.timestamp{
  margin: 2.5px 5px;
}
.info{
  color: #3498db;
}